[Desktop Entry]
Name=IPChanger
Exec=/home/verneri/Documents/python_projects/pyqt/ipchanger/IPChanger.py
Icon=/home/verneri/Documents/python_projects/pyqt/ipchanger/Thinking.png
Terminal=true
Type=Application


